<header [style]="{ height: height }">
  <div class="title">
    <button id="sidebar-toggle" (click)="onToggleSidebar()">
      <i class="pi pi-bars"></i>
    </button>

    <h2>{{ moduleTitle }}</h2>
  </div>

  <div class="options">
    <p-dropdown
      #dropdown
      appendTo="body"
      [filter]="true"
      filterBy="name"
      [options]="stores"
      [(ngModel)]="selectedStore"
      (onChange)="onStoreChange()"
      class="p-dropdown-custom"
      optionLabel="name"
      placeholder="Choisir un magasin"
    />
  </div>
</header>
<p-toast />
