<div class="knob-container">
  <div class="knob-item">
    <p-knob
      [(ngModel)]="seuil1.value"
      [valueTemplate]="seuil1.value.toFixed(2) + '%'"
      [size]="200"
      [step]="0.01"
      [min]="95"
      [max]="100"
      valueColor="#dc3545"
    ></p-knob>
    <div class="knob-label-container">
      <i
        class="pi pi-info-circle"
        style="color: #dc3545"
        pTooltip="{{ seuil1.libelle }}"
        tooltipPosition="bottom"
      ></i>
      <span class="knob-label" style="color: #dc3545">Seuil 1</span>
    </div>
  </div>

  <div class="knob-item">
    <p-knob
      [(ngModel)]="seuil2.value"
      [valueTemplate]="seuil2.value.toFixed(2) + '%'"
      [size]="200"
      [step]="0.01"
      [min]="95"
      [max]="100"
      valueColor="#ffc107"
    ></p-knob>
    <div class="knob-label-container">
      <i
        class="pi pi-info-circle"
        style="color: #ffc107"
        pTooltip="{{ seuil2.libelle }}"
        tooltipPosition="bottom"
      ></i>
      <span class="knob-label" style="color: #ffc107">Seuil 2</span>
    </div>
  </div>

  <div class="knob-item">
    <p-knob
      [(ngModel)]="seuil3.value"
      [valueTemplate]="seuil3.value.toFixed(2) + '%'"
      [size]="200"
      [step]="0.01"
      [min]="95"
      [max]="100"
      valueColor="#28a745"
    ></p-knob>
    <div class="knob-label-container">
      <i
        class="pi pi-info-circle"
        style="color: #28a745"
        pTooltip="{{ seuil3.libelle }}"
        tooltipPosition="bottom"
      ></i>
      <span class="knob-label" style="color: #28a745">Seuil 3</span>
    </div>
  </div>
</div>

<div class="button-container">
  <p-button
    label="Save"
    icon="pi pi-check"
    [loading]="loading"
    (onClick)="saveParam()"
    class="save-button"
  ></p-button>
</div>

<p-toast
  [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'1000ms'"
></p-toast>
