<div class="login-container">
  <form class="login-form" (ngSubmit)="onSubmit()">
    <img loading="eager" src="assets/img/armand-thierry.webp" alt="Logo" class="logo" />

    <div class="form-group">
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-envelope"></p-inputIcon>
        <input
          type="text"
          pInputText
          placeholder="Email"
          [(ngModel)]="email"
          name="email"
          required
        />
      </p-iconField>
    </div>

    <!-- Condition pour afficher ou masquer le champ mot de passe -->
    <div class="form-group" *ngIf="!isForgotPassword">
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-key"></p-inputIcon>
        <input
          type="password"
          pInputText
          placeholder="Mot de passe"
          [(ngModel)]="password"
          name="password"
          required
        />
      </p-iconField>
    </div>

    <p-button
      [label]="isForgotPassword ? 'Envoyer' : 'Connexion'"
      icon="pi pi-sign-in"
      [loading]="loading"
      type="submit"
      [disabled]="disabled"
    ></p-button>

    <div class="sign-up-link">
      <a href="#" (click)="onForgotPasswordClick($event)">
        {{
          isForgotPassword
            ? "J'ai déjà un compte. Se connecter !"
            : "Première connexion ou mot de passe oublié ?"
        }}
      </a>
    </div>
  </form>
</div>
<p-toast position="bottom-center" key="bc"></p-toast>
