.speed-dial-custom {
  position: absolute;
  bottom: 170px;
  right: 70px;
  z-index: 10000;
}

input[pInputText] {
  width: 100%; /* Permet d'utiliser toute la largeur disponible */
  box-sizing: border-box; /* S'assure que padding et border sont inclus dans la largeur */
}
