<p-table
  [value]="permissions"
  styleClass="p-datatable-striped p-datatable-sm"
  [tableStyle]="{ 'min-width': '50rem', cursor: 'pointer' }"
>
  <ng-template pTemplate="header">
    <tr>
      <th style="min-width: 100px">Permission</th>
      <th *ngFor="let role of roles" style="width: auto; text-align: center">
        {{ role | titlecase }}
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-permission>
    <!-- Utilisez [attr.colspan] au lieu de colspan -->
    <ng-container *ngIf="permission.isCategoryHeader">
      <tr class="category-header">
        <td [attr.colspan]="roles.length + 1" style="font-weight: bold; text-align: left">
          {{ permission.name }}
        </td>
      </tr>
    </ng-container>

    <!-- Afficher les permissions sous chaque catégorie -->
    <tr *ngIf="!permission.isCategoryHeader">
      <td>{{ permission.name }}</td>
      <td *ngFor="let role of roles" style="text-align: center">
        <p-checkbox
          [(ngModel)]="permission[role.toLowerCase().replace('-', '')]"
          binary="true"
        ></p-checkbox>
      </td>
    </tr>
  </ng-template>
</p-table>
